In [1]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/weatherAUS.csv")

In [2]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [3]:
df.isnull().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [4]:
df = df.drop(["Evaporation","Sunshine","Cloud9am","Cloud3pm"],axis=1)

In [5]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,W,44.0,W,WNW,20.0,24.0,71.0,22.0,1007.7,1007.1,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,22.0,44.0,25.0,1010.6,1007.8,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,26.0,38.0,30.0,1007.6,1008.7,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NE,24.0,SE,E,11.0,9.0,45.0,16.0,1017.6,1012.8,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,20.0,82.0,33.0,1010.8,1006.0,17.8,29.7,No,No

In [6]:
df = df.drop("Location",axis=1)

In [7]:
df.isnull().sum()

Date                 0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [8]:
df.columns

Index(['Date', 'MinTemp', 'MaxTemp', 'Rainfall', 'WindGustDir',
       'WindGustSpeed', 'WindDir9am', 'WindDir3pm', 'WindSpeed9am',
       'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am',
       'Pressure3pm', 'Temp9am', 'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [9]:
df["WindGustDir"].unique()

array(['W', 'WNW', 'WSW', 'NE', 'NNW', 'N', 'NNE', 'SW', nan, 'ENE',
       'SSE', 'S', 'NW', 'SE', 'ESE', 'E', 'SSW'], dtype=object)

In [10]:
df["RainToday"].unique()

array(['No', 'Yes', nan], dtype=object)

In [11]:
def fill_value(x):
    cols = x.columns
    for col in cols:
        for col in cols:
            if x[col].dtype=="object":
                x[col].fillna(method="ffill",inplace=True)
            elif x[col].dtype=="float":
                m = x[col].median()
                x[col].fillna(m,inplace=True)
    return x

In [12]:
df = fill_value(df)

In [13]:
df.isnull().sum()

Date             0
MinTemp          0
MaxTemp          0
Rainfall         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

In [14]:
def find_catg(dfm):
    catg_cols = []
    cols = dfm.columns
    for col in cols:
        if df[col].dtype == "object":
            catg_cols.append(col)
    return catg_cols

In [15]:
catg_cols = find_catg(df)

In [16]:
catg_cols

['Date',
 'WindGustDir',
 'WindDir9am',
 'WindDir3pm',
 'RainToday',
 'RainTomorrow']

In [17]:
df["WindDir3pm"] = df["WindDir3pm"].apply(lambda x:x+"_3pm")

In [18]:
df["WindDir3pm"].value_counts().index.values

array(['SE_3pm', 'W_3pm', 'SW_3pm', 'S_3pm', 'WSW_3pm', 'WNW_3pm',
       'SSE_3pm', 'N_3pm', 'NW_3pm', 'E_3pm', 'ESE_3pm', 'NE_3pm',
       'SSW_3pm', 'NNW_3pm', 'ENE_3pm', 'NNE_3pm'], dtype=object)

In [19]:
df["WindDir9am"] = df["WindDir9am"].apply(lambda x:x+"_9am")

In [20]:
df["WindDir9am"].value_counts().index.values

array(['N_9am', 'NW_9am', 'SE_9am', 'E_9am', 'SSE_9am', 'SW_9am', 'S_9am',
       'W_9am', 'NNE_9am', 'NNW_9am', 'NE_9am', 'ENE_9am', 'SSW_9am',
       'ESE_9am', 'WNW_9am', 'WSW_9am'], dtype=object)

## ONE HOT ENCORDING

In [21]:
df_Windgustdir = pd.get_dummies(df["WindGustDir"])
df_Winddir9am = pd.get_dummies(df["WindDir9am"])
df_Winddir3pm = pd.get_dummies(df["WindDir3pm"])

In [22]:
df = pd.concat([df,df_Windgustdir,df_Winddir9am,df_Winddir3pm],axis=1)

In [23]:
df = df.drop(['Date','WindGustDir', 'WindDir9am', 'WindDir3pm'],axis=1)

In [24]:
df.head()

,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,...,NW_3pm,N_3pm,SE_3pm,SSE_3pm,SSW_3pm,SW_3pm,S_3pm,WNW_3pm,WSW_3pm,W_3pm
0,13.4,22.9,0.6,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,...,0,0,0,0,0,0,0,1,0,0
1,7.4,25.1,0.0,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,...,0,0,0,0,0,0,0,0,1,0
2,12.9,25.7,0.0,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,...,0,0,0,0,0,0,0,0,1,0
3,9.2,28.0,0.0,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,...,0,0,0,0,0,0,0,0,0,0
4,17.5,32.3,1.0,41.0,7.0,20.0,82.0,33.0,1010.8,1006.0,...,1,0,0,0,0,0,0,0,0,0

In [25]:
df["RainToday"] = df["RainToday"].map({"No":0,"Yes":1})

In [26]:
df["RainTomorrow"] = df["RainTomorrow"].map({"No":0,"Yes":1})

## TODAYS RAIN PREDICTION

In [42]:
X = df.drop(["RainToday","RainTomorrow"],axis=1)
Y = df[["RainToday"]]

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
xtrain, xtest, ytrain, ytest = train_test_split(X, Y, test_size=0.1,random_state=101)

In [45]:
from sklearn.linear_model import LogisticRegression

In [46]:
model = LogisticRegression()

In [47]:
model.fit(xtrain,ytrain)

/Users/apple/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/Users/apple/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [48]:
pred_today = model.predict(xtest)

In [49]:
from sklearn.metrics import classification_report,accuracy_score,mean_squared_error,confusion_matrix

In [50]:
mean_squared_error(ytest,pred_today)

0.014093221504193593

In [51]:
print(classification_report(ytest,pred_today))

              precision    recall  f1-score   support

           0       0.99      1.00      0.99     11198
           1       0.99      0.95      0.97      3348

    accuracy                           0.99     14546
   macro avg       0.99      0.97      0.98     14546
weighted avg       0.99      0.99      0.99     14546

In [52]:
train_pred_today= model.predict(xtrain)

In [53]:
print(classification_report(ytrain,train_pred_today))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99    101500
           1       0.98      0.95      0.97     29414

    accuracy                           0.99    130914
   macro avg       0.98      0.97      0.98    130914
weighted avg       0.99      0.99      0.99    130914

In [54]:
confusion_matrix(ytest,pred_today)

array([[11154,    44],
       [  161,  3187]])

In [55]:
mean_squared_error(ytest,pred_today)

0.014093221504193593

## TOMORROW'S RAIN  PREDICTION

In [56]:
X2 = df.drop(["RainTomorrow"],axis=1)
Y2 = df[["RainTomorrow"]]

In [57]:
X2train, X2test, Y2train, Y2test = train_test_split(X2, Y2, test_size=0.1,random_state=101)

In [58]:
model2 = LogisticRegression()

In [60]:
model2.fit(X2train,Y2train)

/Users/apple/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/Users/apple/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [61]:
pred_tomorrow = model2.predict(X2test)

In [63]:
from sklearn.metrics import classification_report,accuracy_score,mean_squared_error,confusion_matrix

In [64]:
mean_squared_error(Y2test,pred_tomorrow)

0.1636876117145607

In [65]:
print(classification_report(Y2test,pred_tomorrow))

              precision    recall  f1-score   support

           0       0.85      0.95      0.90     11279
           1       0.72      0.44      0.55      3267

    accuracy                           0.84     14546
   macro avg       0.79      0.70      0.72     14546
weighted avg       0.82      0.84      0.82     14546

In [66]:
confusion_matrix(Y2test,pred_tomorrow)

array([[10726,   553],
       [ 1828,  1439]])

In [67]:
df.head()

,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,...,NW_3pm,N_3pm,SE_3pm,SSE_3pm,SSW_3pm,SW_3pm,S_3pm,WNW_3pm,WSW_3pm,W_3pm
0,13.4,22.9,0.6,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,...,0,0,0,0,0,0,0,1,0,0
1,7.4,25.1,0.0,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,...,0,0,0,0,0,0,0,0,1,0
2,12.9,25.7,0.0,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,...,0,0,0,0,0,0,0,0,1,0
3,9.2,28.0,0.0,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,...,0,0,0,0,0,0,0,0,0,0
4,17.5,32.3,1.0,41.0,7.0,20.0,82.0,33.0,1010.8,1006.0,...,1,0,0,0,0,0,0,0,0,0

In [68]:
df.columns

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'WindGustSpeed', 'WindSpeed9am',
       'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am',
       'Pressure3pm', 'Temp9am', 'Temp3pm', 'RainToday', 'RainTomorrow', 'E',
       'ENE', 'ESE', 'N', 'NE', 'NNE', 'NNW', 'NW', 'S', 'SE', 'SSE', 'SSW',
       'SW', 'W', 'WNW', 'WSW', 'ENE_9am', 'ESE_9am', 'E_9am', 'NE_9am',
       'NNE_9am', 'NNW_9am', 'NW_9am', 'N_9am', 'SE_9am', 'SSE_9am', 'SSW_9am',
       'SW_9am', 'S_9am', 'WNW_9am', 'WSW_9am', 'W_9am', 'ENE_3pm', 'ESE_3pm',
       'E_3pm', 'NE_3pm', 'NNE_3pm', 'NNW_3pm', 'NW_3pm', 'N_3pm', 'SE_3pm',
       'SSE_3pm', 'SSW_3pm', 'SW_3pm', 'S_3pm', 'WNW_3pm', 'WSW_3pm', 'W_3pm'],
      dtype='object')

## PREDICTION MODEL

In [73]:
import numpy as np
def pred_rain_today(min_temp,max_temp,rainfall,windspd,wndspd9am,wndspd3pm,hmdty9am,hmdty3pm,presure9am,presure3pm,temp9am,temp3pm,windgustdir,windir9am,windir3pm):
    
    input = np.zeros(len(X.columns))
    input[0]=min_temp
    input[1]=max_temp
    input[2]=rainfall
    input[3]=windspd
    input[4]=wndspd9am
    input[5]=wndspd3pm
    input[6]=hmdty9am
    input[7]=hmdty3pm
    input[8]=presure9am
    input[9]=presure3pm
    input[10]=temp9am
    input[11]=temp3pm
    
    
    loc_wgd=np.where(X.columns == windgustdir)
    loc_wd9=np.where(X.columns == windir9am)
    loc_wd3=np.where(X.columns == windir3pm)

    
    input[loc_wgd]=1
    input[loc_wd9]=1
    input[loc_wd3]=1
    
    
    return model.predict([input])

In [76]:
print(pred_rain_today(20.5,41.5,0.0,27.5,8.5,10.5,35.5,9.5,1011.6,999.5,28.5,40.9,"NNE","ESE_9am","SE_3pm"))

[0]

In [77]:
X2.columns

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'WindGustSpeed', 'WindSpeed9am',
       'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am',
       'Pressure3pm', 'Temp9am', 'Temp3pm', 'RainToday', 'E', 'ENE', 'ESE',
       'N', 'NE', 'NNE', 'NNW', 'NW', 'S', 'SE', 'SSE', 'SSW', 'SW', 'W',
       'WNW', 'WSW', 'ENE_9am', 'ESE_9am', 'E_9am', 'NE_9am', 'NNE_9am',
       'NNW_9am', 'NW_9am', 'N_9am', 'SE_9am', 'SSE_9am', 'SSW_9am', 'SW_9am',
       'S_9am', 'WNW_9am', 'WSW_9am', 'W_9am', 'ENE_3pm', 'ESE_3pm', 'E_3pm',
       'NE_3pm', 'NNE_3pm', 'NNW_3pm', 'NW_3pm', 'N_3pm', 'SE_3pm', 'SSE_3pm',
       'SSW_3pm', 'SW_3pm', 'S_3pm', 'WNW_3pm', 'WSW_3pm', 'W_3pm'],
      dtype='object')

In [78]:
def pred_rain_tomorow(min_temp,max_temp,rainfall,windspd,wndspd9am,wndspd3pm,hmdty9am,hmdty3pm,presure9am,presure3pm,temp9am,temp3pm,raintoday,windgustdir,windir9am,windir3pm):
    
    input1 = np.zeros(len(X2.columns))
    input1[0]=min_temp
    input1[1]=max_temp
    input1[2]=rainfall
    input1[3]=windspd
    input1[4]=wndspd9am
    input1[5]=wndspd3pm
    input1[6]=hmdty9am
    input1[7]=hmdty3pm
    input1[8]=presure9am
    input1[9]=presure3pm
    input1[10]=temp9am
    input1[11]=temp3pm
    input1[12]=windspd
    input1[13]=raintoday
    
    loc_wgd=np.where(X.columns == windgustdir)
    loc_wd9=np.where(X.columns == windir9am)
    loc_wd3=np.where(X.columns == windir3pm)

    
    input1[loc_wgd]=1
    input1[loc_wd9]=1
    input1[loc_wd3]=1
    
    
    return model2.predict([input1])

In [82]:
print(pred_rain_tomorow(20.5,41.5,0.0,59.5,7.5,18.5,34.9,20.8,998.6,1002.3,24.8,36.5,0,"E","W","N"))

[0]